<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bdo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bdo.Properties.Settings>
            <setting name="CacheGlobalSize" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="LogDatabaseActivity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogDatabaseOnlyErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogBaseDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="ObjectValidationUseMessageList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XmlDefaultlDateFormat" serializeAs="String">
                <value>dd/MM/yyyy</value>
            </setting>
            <setting name="XmlDefaultDecimalFormat" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="ObjectLiveTrackingActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeTrackingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadFullObjects" serializeAs="String">
                <value>True</value>
            </setting>
        </Bdo.Properties.Settings>
      </applicationSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
