<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FaschimWS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Bdo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!-- MYSQL5 -->
    <!-- FASCHIM SVILUPPO -->
    <add key="connectionString" value="Server=fetest01.sds.local;UserId=spelaia;Password=volley2;Database=dev_faschim_demat"></add>
    <add key="connectionString2" value="Server=localhost;UserId=root;Password=volley2;Database=dbfaschim" />
  </appSettings>
  <connectionStrings>
    <add name="TEST" connectionString="Server=photonos;port=3307;UserId=root;Password=root;Database=bdo_test_db" providerName="MYSQLDataBase" />

  </connectionStrings>
  <applicationSettings>
    <Bdo.Properties.Settings>
      <setting name="CacheGlobalSize" serializeAs="String">
        <value>8192</value>
      </setting>
      <setting name="LogDatabaseActivity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogDatabaseOnlyErrors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogBaseDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ObjectValidationUseMessageList" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XmDefaultlDateFormat" serializeAs="String">
        <value>dd/MM/yyyy</value>
      </setting>
      <setting name="XmlDefaultDecimalFormat" serializeAs="String">
        <value>N</value>
      </setting>

      <setting name="ObjectLiveTrackingActive" serializeAs="String">
        <value>true</value>
      </setting>

    </Bdo.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <sources>
      <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
      <!--<add name="XmlSerialization.Compilation" value="0" />-->
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.net>
    <mailSettings>
      <smtp from="simonep@fastwebnet.it" deliveryMethod="Network"></smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
